<div class="p-4 grid gap-4 sm:grid-cols-3  bg-orange-400">
  <mat-card class="hover:bg-[#9ca3af] cursor-pointer">
    <mat-card-header>
      <mat-card-title>{{ 'Pedro' }}</mat-card-title>
      <mat-card-subtitle>{{ 'pedro@email.com' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content></mat-card-content> <!-- Apenas para adiciona um espaçamento em branco. -->
  </mat-card>

  <mat-card class="hover:bg-[#9ca3af] cursor-pointer">
    <mat-card-header>
      <mat-card-title>{{ 'Pedro' }}</mat-card-title>
      <mat-card-subtitle>{{ 'pedro@email.com' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content></mat-card-content> <!-- Apenas para adiciona um espaçamento em branco. -->
  </mat-card>

  <mat-card class="hover:bg-[#9ca3af] cursor-pointer">
    <mat-card-header>
      <mat-card-title>{{ 'Pedro' }}</mat-card-title>
      <mat-card-subtitle>{{ 'pedro@email.com' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content></mat-card-content> <!-- Apenas para adiciona um espaçamento em branco. -->
  </mat-card>
</div>
